bin/
flux-0-1800CalfineFull
flux-0-1800CalfineOK/
flux-0-1800-distilled/
bin/
bin/
sourcecc/
fluxesGearNoPMOut/
bin/fem/
bin/
EMSolang/
fluxesGear/
bin/
EMSol/fluxesbbb
sourcebbb/
sourcett/
sourcett/
sourcex/
bin/
bin/components/TextField.class
bin/components/Label.class
bin/
resultsMag
fluxesGear2/
fluxesGearAir/
fluxesGearF/
bin/
fluxes/
bin/
fluxes/
bin/
solutionsA10.txt
fluxesk/
bin/
EMSol/
source/fem/POD.java.orig
fluxes1800Acc
fluxes200VeryAcc
source/fem/BlockMOR.java.orig
resultsPlunger2D/
sourcezzz/
forcesPlunger2D/
results/
/prismatic.txt
/inputs/
/delauney mesh/
/forceMotorHalf/
/ipm_motor/
/legs.txt
/node4Del.1.node
/node4Del.node
/node4Del.1.ele
/model2D.txt
/meshFromDel.txt
/solutions.txt
/initxMag.txt
/revolved.txt
/bunReReg.txt
/scaled.txt
/bunRotated.txt
/_last_MagFEM_elected_path
/_last_MagFEM_elected_path
/_last_MagFEM_elected_path
/_last_MagFEM_elected_path
/_last_MagFEM_elected_path
/_last_MagFEM_elected_path
